<!--
File: c:\Users\tonyw\Desktop\GIT Messenger\socket-messenger\views\index.ejs
Project: c:\Users\tonyw\Desktop\GIT Messenger\socket-messenger
Created Date: Friday August 18th 2023
Author: Tony Wiedman
-----
Last Modified: Fri August 18th 2023 6:08:37 
Modified By: Tony Wiedman
-----
Copyright (c) 2023 Tone Web Design, Molex
-->
<!DOCTYPE html>
<html>
<head>
  <title>Your App</title>
  <script>
    const apiKey = '<%= apiKey %>';
  </script>
</head>
<body>
  <script src="messenger.js"></script>
</body>
</html>
